
  
  <app-cockpit 
    (createRed)="clickRed($event)"
    (createBlue)="clickBlue($event)">    
  </app-cockpit>

    <hr>

    <div>
      <app-server-element 
        *ngFor="let element of serverElements"
        [srvElement]="element">
      </app-server-element>
    </div>
  
  