
<div>
  <button
    (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
  <br><br>
  <ul>
    <div  *ngIf="onlyOdd">
      <li *ngFor="let odd of oddNumbers">
        {{ odd }}
      </li>
    </div>
    <div  *ngIf="!onlyOdd">
      <li *ngFor="let event of eventNumbers">
        {{ event }}
      </li>
    </div>
  </ul>
  <ng-template [ngIf]="onlyOdd">
    <p>Only odd</p>
  </ng-template>
</div>