<div>
  
  <app-cockpit></app-cockpit>

    <hr>
    <div>
      <app-server-element 
        *ngFor="let element of serverElements"
        [element]="element">
      </app-server-element>
    </div>
  </div>
  