<p>cockpit works!</p>
<div>
    <div>
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" [(ngModel)]="newServerContent">
      <br>
      <button
        (click)="addRed()">addRed</button>
      <button
        (click)="addBlue()">addBlue</button>
    </div>
  </div>