<p>server-element works!</p>
<div>
<div>{{ element.name }}</div>
<div>
  <p>
    <strong *ngIf="element.type === 'red'" style="color: red">{{ element.content }}</strong>
    <em *ngIf="element.type === 'blue'" style="color: blue">{{ element.content }}</em>
  </p>
</div>
</div>